<h1>Receita</h1>

<p>Nome da receita: <%= @recipe.recipe_name %></p>
<p>Cozinha: <%= @recipe.kitchen %></p>
<p>Tipo de comida : <%= @recipe.kind_food %></p>
<p>Quantas pessoas serve: <%= @recipe.how_many_people_serve %></p>
<p>Tempo de preparo: <%= @recipe.preparation_time %></p>
<p>Nível de dificuldade: <%= @recipe.difficulty_level %></p>
<p>Ingredientes: <%= @recipe.ingredients %></p>
<p>Passo a passo: <%= @recipe.step_by_step %></p>
